<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>
<body>

  <% include global/header %>

  <div id="stats">
    <h2>Player Stats</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
      </tr>
      <%for(var i=0; i<users.length;i++){%>
        <tr>
          <td>
          <%=users[i].name%>
         </td>
          <td>
           <%=users[i]["games played"]%>
          </td>
          <td>
          <%=users[i]["games won"]/users[i]["games played"]*100%>%
         </td>
         <td>
         <%=users[i]["games lost"]/users[i]["games played"]*100%>%
        </td>
        <td>
        <%var tie_amount = users[i]["games played"]-(users[i]["games won"]+users[i]["games lost"]);%>
        <%=tie_amount/users[i]["games played"]*100%>%
       </td>
        </tr>
      <%}%>
    </table>
    <br>
    <h2>Villain Stats</h2>
    <table>
      <tr>
        <th class="top_row">Villain Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
      </tr>
      <%for(var i=0; i<villains.length;i++){%>
        <tr>
          <td>
          <%=villains[i].name%>
         </td>
          <td>
           <%=villains[i]["games played"]%>
          </td>
          <td>
          <%=villains[i]["games won"]/villains[i]["games played"]*100%>%
         </td>
         <td>
         <%=villains[i]["games lost"]/villains[i]["games played"]*100%>%
        </td>
        <td>
        <%var tie_amount = villains[i]["games played"]-(villains[i]["games won"]+villains[i]["games lost"]);%>
        <%=tie_amount/villains[i]["games played"]*100%>%
       </td>
        </tr>
      <%}%>
    </table>
  </div>

<% include global/footer %>
 </body>
</html>
