<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Results</title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Style sheet isn't linking on results page -->
 </head>

<body>
  <% include global/header %>
  <div id="results">
      <h2>Game Results</h2>
      <h4><%=u.name%>, you <%=u.result%> with <%=u.weapon%> against <%=u.villain.replace('_', ' ')%> who used <%=u.villainWeapon%>! </h4>
        <!-- photos -->
        <img id="villainImg" src="/images/<%=u.villain%>_<%=u.villainWeapon%>.svg" width="200" height= "200" align="left">
        <img id="playerImg" src="/images/player_<%=u.weapon%>.png" width="200" height= "200" align="left">
        <!-- replay button -->
        <form action="/play_again/<%=u.name%>" method="get">
          <button type="submit" id = "play_again">Play Again</button>
        </form>
    </div>
  <% include global/footer %>
 </body>
</html>
