<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Stats</title>
  <link rel="stylesheet" href="/styles/style.css">
 </head>
<body>

  <% include global/header %>

  <div id="stats">
    <h2>Player Stats</h2>
    <table>
      <tr>
        <th class="top_row">Player Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Rock Played</th>
        <th class="top_row">Paper Played</th>
        <th class="top_row">Scissor Played</th>
      </tr>
      <%for(var i = 0; i< users.length; i++){%>
        <tr>
          <td><%=users[i]["name"]%></td>
          <td><%=users[i]["gamesplayed"]%></td>
          <td><%=users[i]["win"]%></td>
          <td><%=users[i]["lose"]%></td>
          <td><%=users[i]["tie"]%></td>
          <td><%=users[i]["rock"]%></td>
          <td><%=users[i]["paper"]%></td>
          <td><%=users[i]["scissor"]%></td>
        </tr>
      <%}%>
    </table>
    <br>
    <h2>Villain Stats</h2>
    <table>
      <tr>
        <th class="top_row">Villain Name</th>
        <th class="top_row">Games Played</th>
        <th class="top_row">Games Won</th>
        <th class="top_row">Games Lost</th>
        <th class="top_row">Games Tied</th>
        <th class="top_row">Rock Played</th>
        <th class="top_row">Paper Played</th>
        <th class="top_row">Scissor Played</th>
      </tr>
      <%for(var i = 0; i< villains.length; i++){%>
        <tr>
          <td><%=villains[i]["name"]%></td>
          <td><%=villains[i]["gamesplayed"]%></td>
          <td><%=villains[i]["win"]%></td>
          <td><%=villains[i]["lose"]%></td>
          <td><%=villains[i]["tie"]%></td>
          <td><%=villains[i]["rock"]%></td>
          <td><%=villains[i]["paper"]%></td>
          <td><%=villains[i]["scissor"]%></td>
        </tr>
      <% } %>
    </table>
  </div>

<% include global/footer %>
</body>
</html>
