<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="/styles/style.css">
 </head>

<body>
  <% include global/header %>

  <div id="feedback">
  </div>
      <%if (user.name=="new"){%>
  <div id="enter_name">
<h2>User Details - NEW USER</h2>

    <form action="/user" method= "post">
    <br>
    Name: <input type="text" name="name" value= "<%=user.name%>"<br>
    Password: <input type="text" name="password" value="<%=user.password%>"<br>
    <button type="submit" id = "new_user_button">Submit New User</button>
  </form>
    <br>
  </div>
  <%}%>
  <%if(user.name!="new") {%>
  <h2>User Details - <%=user.name%></h2>

      <form action="/user/<%=user.name%>?_method=PUT" method="post">
      <br>
      Name: <input type="text" name="name" value= "<%=user.name%>"<br>
      Password: <input type="text" name="password" value="<%=user.password%>"<br>
      <button type="submit" id = "update_user_button">Update User</button>
    </form>
      <br>
      <%}%>

<% include global/footer %>
 </body>
</html>
